---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="stelladb">
    <div class="center">
        <div class="text">
            <h1>a lazy <span style="color: var(--accent)">stella sora</span> database</h1>
            <p>
                <a href="/trekker/110">firenze</a> /
                <a href="/disc/214004">disc</a> /
                <a href="/disc/214043">ev disc</a>
            </p>
        </div>

        <img src="/" alt="Nazuna" title="Nazuna" width="320" height="320" onerror="this.src=`/nazuna${Math.ceil(Math.random()*16).toString().padStart(2,'0')}.gif`" />

        <div class="time-machine">
            <a href="https://stelladb.pages.dev/">latest</a>
            <a href="https://e0b7d670.stelladb.pages.dev/">v1.4</a>
            <a href="https://398c0756.stelladb.pages.dev/">v1.3</a>
            <a href="https://b6bb5f31.stelladb.pages.dev/">v1.2</a>
            <a href="https://5076c69f.stelladb.pages.dev/">v1.1</a>
        </div>
    </div>

    <div class="petal-bloom">
        <a href="/trekker/156" title="Nazuna">
            <img src="/head_15601_Q.avif" alt="Nazuna" title="Nazuna" width="200" height="200" />
        </a>
        <a href="/trekker/134" title="Fuyuka">
            <img src="/head_13401_Q.avif" alt="Fuyuka" title="Fuyuka" width="200" height="200" />
        </a>
        <a href="/trekker/133" title="Nazuka">
            <img src="/head_13301_Q.avif" alt="Nazuka" title="Nazuka" width="200" height="200" />
        </a>
    </div>
</Layout>

<style>
    .center {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: calc(100dvh - 2 * var(--nav-height));
    }

    .center .text {
        margin-bottom: 1rem;
    }

    .center h1 {
        margin: 0;
        font-size: 3.6rem;
        text-align: center;
    }

    .center p {
        margin: 0;
        font-size: 1.35rem;
        text-align: center;
    }

    .time-machine {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        flex-direction: column;
    }

    .time-machine a {
        padding: 0.1rem 0.5rem;
    }

    .petal-bloom {
        display: flex;
        position: absolute;
        right: 0;
        bottom: var(--nav-height);
        overflow: hidden;
    }

    .petal-bloom a {
        width: 120px;
    }

    .petal-bloom img {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        pointer-events: none;
    }
</style>
