---
import Layout from '@/layouts/Layout.astro';
import { Image } from 'astro:assets';
import Search from 'astro-pagefind/components/Search';
---

<Layout title="stelladb" pagefindIgnore={true}>
    <div class="center">
        <div class="main">
            <div class="text">
                <h1>a <a style="color: var(--accent)" href="https://stellasora.global/">stella sora</a> database</h1>
                <p id="kv-text"></p>
            </div>

            <Search
                id="search"
                className="pagefind-ui"
                uiOptions={{
                    autofocus: true,
                    pageSize: 10,
                    resetStyles: false,
                    showImages: true,
                    translations: {
                        placeholder: 'Search...',
                        clear_search: '✖',
                    },
                }}
            />
        </div>

        <img class="nazuna" alt="Nazuna" title="Nazuna" width="320" height="320" />

        <div class="time-machine">
            <a href="https://stelladb.pages.dev/">latest</a>
            <a href="https://ccf205c4.stelladb.pages.dev/">v1.8</a>
            <a href="https://5993e144.stelladb.pages.dev/">v1.7</a>
            <a href="https://d7422ec5.stelladb.pages.dev/">v1.6</a>
            <a href="https://674e026f.stelladb.pages.dev/">v1.5</a>
            <a href="https://e0b7d670.stelladb.pages.dev/">v1.4</a>
            <a href="https://398c0756.stelladb.pages.dev/">v1.3</a>
            <a href="https://b6bb5f31.stelladb.pages.dev/">v1.2</a>
            <a href="https://5076c69f.stelladb.pages.dev/">v1.1</a>
        </div>
    </div>
</Layout>

<script>
    // @ts-nocheck
    const timeEls = document.querySelectorAll('.time');

    timeEls.forEach((el) => {
        const time = new Date(el.dataset.time);
        el.textContent = formatRelativeDay(time);
        setInterval(() => {
            el.textContent = formatRelativeDay(time);
        }, 1000);
    });

    function formatRelativeDay(time) {
        const now = new Date();
        const diffTime = now - time;
        const diffDays = Math.floor(diffTime / (1000 * 60 * 60 * 24));

        return diffDays;
    }

    const audio = new Audio('/fufufu.mp3');
    let isPlaying = false;

    audio.addEventListener('ended', () => {
        isPlaying = false;
        audio.currentTime = 0;
    });

    const nazunaEl = document.querySelector('.nazuna');
    if (nazunaEl) {
        nazunaEl.src = `/nazuna${Math.ceil(Math.random() * 16)
            .toString()
            .padStart(2, '0')}.gif`;

        nazunaEl.addEventListener('click', () => {
            if (isPlaying) return;
            isPlaying = true;
            audio.currentTime = 0;
            audio.play();
        });
    }

    const searchInput = document.querySelector('.pagefind-ui__search-input');

    searchInput.addEventListener('keydown', (e) => {
        if (e.key === 'Enter') {
            const firstResult = document.querySelector('.pagefind-ui__result-link');

            if (firstResult) {
                window.location.href = firstResult.href;
            }
        }
    });
</script>

<style>
    .center {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: calc(100dvh - 2 * var(--nav-height));

        .main {
            align-items: center;
            margin-bottom: 1rem;
            width: 100%;
            text-align: center;

            #kv-text:not(:empty) {
                margin-bottom: 1rem;
            }
        }

        h1 {
            margin: 0.25rem 0;
            font-size: 3.6rem;
        }

        p {
            margin: 0.25rem 0;
            font-size: 1.35rem;
        }

        img {
            vertical-align: middle;
            object-fit: cover;
            object-position: center;
        }
    }

    .time-machine {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        flex-direction: column;

        a {
            padding: 0.1rem 0.5rem;
        }
    }
</style>
