---
import Layout from '../layouts/Layout.astro';
---

<Layout title="stelladb">
    <div class="center">
        <h1>a lazy <span style="color: var(--accent)">stella sora</span> database</h1>
        <p>bottom text</p>
    </div>

    <a class="nazuna" href="/trekker/156">
        <img src="/head_15601_Q.avif" alt="Nazuna" title="Nazuna" width="192" height="192" />
    </a>
</Layout>

<style>
    .center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: calc(100dvh - 2 * var(--nav-height));
    }

    .center h1 {
        margin: 1rem;
        font-size: 3.6rem;
    }

    .center p {
        margin: 0.5rem;
        font-size: 1.35rem;
    }

    .nazuna {
        position: absolute;
        right: 0;
        bottom: var(--nav-height);
    }
</style>
